Repository Zilliqa/scilla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjcnn, @vaivaswatha, @anton-trunov, @AmritKumar, @edisonljh, @evesnow91

Move tests and fix tfun, accept errors
  src/lang/base/ParserFaults.messages
  tests/checker/bad/TestCheckerFail.ml
  tests/eval/exp/bad/TestExpsFail.ml
  tests/parser/bad/TestParserFail.ml
  tests/parser/bad/bad_map_key_2.scilla
  tests/parser/bad/bad_map_key_3.scilla
  tests/parser/bad/bad_map_key_4.scilla
  tests/parser/bad/exps/bad-map-key.scilexp
  tests/parser/bad/exps/bad-map-key2.scilexp
  tests/parser/bad/exps/builtin-overflow4.scilexp
  tests/parser/bad/exps/builtin_error1.scilexp
  tests/parser/bad/gold/bad-map-key.scilexp.gold
  tests/parser/bad/gold/bad-map-key2.scilexp.gold
  tests/parser/bad/gold/bad_map_key_2.scilla.gold
  tests/parser/bad/gold/bad_map_key_3.scilla.gold
  tests/parser/bad/gold/bad_map_key_4.scilla.gold
  tests/parser/bad/gold/builtin-overflow4.scilexp.gold
  tests/parser/bad/gold/builtin_error1.scilexp.gold
  tests/parser/bad/gold/exp_t-builtin-id-with.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-cid-with.scilexp.gold
  tests/parser/bad/gold/stmts_t-accept-with.scilla.gold
  tests/typecheck/bad/TestTypeFail.ml
  tests/typecheck/bad/gold/foo-expr.scilexp.gold
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Changed existing wallet tests, and added new ones. Still incomplete
  tests/checker/good/gold/wallet_2.scilla.gold
  tests/runner/Testcontracts.ml
  tests/runner/wallet_2/blockchain_1.json
  tests/runner/wallet_2/blockchain_2.json
  tests/runner/wallet_2/blockchain_3.json
  tests/runner/wallet_2/blockchain_4.json
  tests/runner/wallet_2/blockchain_5.json
  tests/runner/wallet_2/blockchain_6.json
  tests/runner/wallet_2/blockchain_7.json
  tests/runner/wallet_2/init.json
  tests/runner/wallet_2/message_1.json
  tests/runner/wallet_2/message_2.json
  tests/runner/wallet_2/message_3.json
  tests/runner/wallet_2/message_4.json
  tests/runner/wallet_2/message_5.json
  tests/runner/wallet_2/message_6.json
  tests/runner/wallet_2/message_7.json
  tests/runner/wallet_2/output_1.json
  tests/runner/wallet_2/output_2.json
  tests/runner/wallet_2/output_3.json
  tests/runner/wallet_2/output_4.json
  tests/runner/wallet_2/output_5.json
  tests/runner/wallet_2/output_6.json
  tests/runner/wallet_2/output_7.json
  tests/runner/wallet_2/state_1.json
  tests/runner/wallet_2/state_2.json
  tests/runner/wallet_2/state_3.json
  tests/runner/wallet_2/state_4.json
  tests/runner/wallet_2/state_5.json
  tests/runner/wallet_2/state_6.json
  tests/runner/wallet_2/state_7.json
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Fix shift/reduce conflicts
  src/lang/base/ParserFaults.messages
  src/lang/base/ScillaParser.mly
  tests/parser/bad/TestParserFail.ml
  tests/parser/bad/exps/exp_t-cid-lbrace-rbrace-at.scilexp
  tests/parser/bad/exps/exp_t-let-id-colon-tid-eq-string-with.scilexp
  tests/parser/bad/exps/exp_t-let-id-colon-tid-eq-with.scilexp
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-lparen-cid-underscore.scilexp
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-lparen-with.scilexp
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-map-cid-underscore.scilla
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-map-with.scilexp
  tests/parser/bad/gold/exp_t-cid-lbrace-rbrace-at.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-eq-string-with.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-eq-with.scilexp.gold
  tests/parser/bad/gold/type_t-map-cid-cid-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-lparen-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-lparen-with.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-map-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-map-with.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-lparen-cid-underscore.scilexp.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-lparen-with.scilexp.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-map-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-map-with.scilexp.gold
  tests/parser/bad/type_t-map-cid-cid-cid-underscore.scilla
  tests/parser/bad/type_t-map-cid-cid-lparen-cid-underscore.scilla
  tests/parser/bad/type_t-map-cid-cid-lparen-with.scilla
  tests/parser/bad/type_t-map-cid-cid-map-cid-underscore.scilla
  tests/parser/bad/type_t-map-cid-cid-map-with.scilla
  tests/parser/bad/type_t-map-cid-cid-underscore.scilla
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Syntax type app sugar
  src/lang/base/ParserFaults.messages
  src/lang/base/ScillaParser.mly
  tests/eval/exp/good/TestExps.ml
  tests/eval/exp/good/alt_tapp.scilexp
  tests/eval/exp/good/gold/alt_tapp.scilexp.gold
  tests/parser/bad/TestParserFail.ml
  tests/parser/bad/exps/exp_t-spid-lbrace-tid-rbrace-with.scilexp
  tests/parser/bad/exps/exp_t-spid-lbrace-tid-type.scilexp
  tests/parser/bad/exps/exp_t-spid-lbrace-with.scilexp
  tests/parser/bad/gold/exp_t-spid-lbrace-tid-rbrace-with.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-lbrace-tid-type.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-lbrace-with.scilexp.gold
  tests/parser/bad/gold/lmodule-import-cid-with.scilla.gold
  tests/parser/bad/gold/stmts_t-id-with.scilla.gold
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Revert "Syntax type app sugar"
  src/lang/base/ParserFaults.messages
  src/lang/base/ScillaParser.mly
  tests/eval/exp/good/TestExps.ml
  tests/eval/exp/good/alt_tapp.scilexp
  tests/eval/exp/good/gold/alt_tapp.scilexp.gold
  tests/parser/bad/TestParserFail.ml
  tests/parser/bad/exps/exp_t-spid-lbrace-tid-rbrace-with.scilexp
  tests/parser/bad/exps/exp_t-spid-lbrace-tid-type.scilexp
  tests/parser/bad/exps/exp_t-spid-lbrace-with.scilexp
  tests/parser/bad/gold/exp_t-spid-lbrace-tid-rbrace-with.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-lbrace-tid-type.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-lbrace-with.scilexp.gold
  tests/parser/bad/gold/lmodule-import-cid-with.scilla.gold
  tests/parser/bad/gold/stmts_t-id-with.scilla.gold
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Revert "Fix shift/reduce conflicts"
  src/lang/base/ParserFaults.messages
  src/lang/base/ScillaParser.mly
  tests/parser/bad/TestParserFail.ml
  tests/parser/bad/exps/exp_t-cid-lbrace-rbrace-at.scilexp
  tests/parser/bad/exps/exp_t-let-id-colon-tid-eq-string-with.scilexp
  tests/parser/bad/exps/exp_t-let-id-colon-tid-eq-with.scilexp
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-lparen-cid-underscore.scilexp
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-lparen-with.scilexp
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-map-cid-underscore.scilla
  tests/parser/bad/exps/type_t-map-cid-lparen-cid-map-with.scilexp
  tests/parser/bad/gold/exp_t-cid-lbrace-rbrace-at.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-eq-string-with.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-eq-with.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-with.scilexp.gold
  tests/parser/bad/gold/type_t-map-cid-cid-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-lparen-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-lparen-with.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-map-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-map-with.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-lparen-cid-underscore.scilexp.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-lparen-with.scilexp.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-map-cid-underscore.scilla.gold
  tests/parser/bad/gold/type_t-map-cid-lparen-cid-map-with.scilexp.gold
  tests/parser/bad/type_t-map-cid-cid-cid-underscore.scilla
  tests/parser/bad/type_t-map-cid-cid-lparen-cid-underscore.scilla
  tests/parser/bad/type_t-map-cid-cid-lparen-with.scilla
  tests/parser/bad/type_t-map-cid-cid-map-cid-underscore.scilla
  tests/parser/bad/type_t-map-cid-cid-map-with.scilla
  tests/parser/bad/type_t-map-cid-cid-underscore.scilla
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Disallow non-printable characters in String literals
  src/lang/base/PrimTypes.ml
  src/lang/base/ScillaLexer.mll
  src/lang/base/ScillaParser.mly
  tests/eval/exp/good/TestExps.ml
  tests/eval/exp/good/gold/str-char-1.scilexp.gold
  tests/eval/exp/good/str-char-1.scilexp
  tests/runner/Testcontracts.ml
  tests/runner/helloWorld/blockchain_12.json
  tests/runner/helloWorld/message_12.json
  tests/runner/helloWorld/output_12.json
  tests/runner/helloWorld/state_12.json
  tests/typecheck/bad/TestTypeFail.ml
  tests/typecheck/bad/gold/str-bad-char-1.scilexp.gold
  tests/typecheck/bad/gold/str-bad-char-2.scilexp.gold
  tests/typecheck/bad/gold/str-bad-char-3.scilexp.gold
  tests/typecheck/bad/str-bad-char-1.scilexp
  tests/typecheck/bad/str-bad-char-2.scilexp
  tests/typecheck/bad/str-bad-char-3.scilexp
  tests/typecheck/good/Testtypes.ml
  tests/typecheck/good/gold/str-nonprint-char-1.scilexp.gold
  tests/typecheck/good/str-nonprint-char-1.scilexp
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Disallow non-printable characters in String literals (#637)
  src/lang/base/PrimTypes.ml
  src/lang/base/ScillaLexer.mll
  src/lang/base/ScillaParser.mly
  tests/eval/exp/good/TestExps.ml
  tests/eval/exp/good/gold/str-char-1.scilexp.gold
  tests/eval/exp/good/str-char-1.scilexp
  tests/runner/Testcontracts.ml
  tests/runner/helloWorld/blockchain_12.json
  tests/runner/helloWorld/message_12.json
  tests/runner/helloWorld/output_12.json
  tests/runner/helloWorld/state_12.json
  tests/typecheck/bad/TestTypeFail.ml
  tests/typecheck/bad/gold/str-bad-char-1.scilexp.gold
  tests/typecheck/bad/gold/str-bad-char-2.scilexp.gold
  tests/typecheck/bad/gold/str-bad-char-3.scilexp.gold
  tests/typecheck/bad/str-bad-char-1.scilexp
  tests/typecheck/bad/str-bad-char-2.scilexp
  tests/typecheck/bad/str-bad-char-3.scilexp
  tests/typecheck/good/Testtypes.ml
  tests/typecheck/good/gold/str-nonprint-char-1.scilexp.gold
  tests/typecheck/good/str-nonprint-char-1.scilexp
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Fix forall conflict and polish errors
  src/lang/base/ParserFaults.messages
  src/lang/base/ScillaParser.mly
  tests/parser/bad/gold/exp_t-fun-lparen-with.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-with.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-spid-with.scilexp.gold
  tests/parser/bad/gold/lmodule-import-cid-with.scilla.gold
  tests/parser/bad/gold/stmts_t-id-with.scilla.gold
  tests/parser/bad/gold/stmts_t-throw-semicolon-with.scilla.gold
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Add a contract to test IPC map access corner cases.
  scripts/run_ipc_map_corner_tests.sh
  tests/checker/good/TestCheckerSuccess.ml
  tests/checker/good/gold/map_corners_test.scilla.gold
  tests/contracts/map_corners_test.scilla
Owners: @jjcnn, @vaivaswatha, @anton-trunov

IPC map corner tests: Add a comment referencing the script to run
  tests/checker/good/gold/map_corners_test.scilla.gold
  tests/contracts/map_corners_test.scilla
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Vague error message and missing errors
  src/lang/base/ParserFaults.messages
  tests/parser/bad/TestParserFail.ml
  tests/parser/bad/exps/exp_t-cid-lbrace-rbrace-at.scilexp
  tests/parser/bad/exps/exp_t-let-id-colon-tid-eq-string-with.scilexp
  tests/parser/bad/exps/exp_t-let-id-colon-tid-eq-with.scilexp
  tests/parser/bad/gold/exp_t-builtin-id-with.scilexp.gold
  tests/parser/bad/gold/exp_t-cid-lbrace-rbrace-at.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-eq-string-with.scilexp.gold
  tests/parser/bad/gold/exp_t-let-id-colon-tid-eq-with.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-cid-with.scilexp.gold
  tests/parser/bad/gold/type_t-cid-lparen-tid-with.scilla.gold
  tests/parser/bad/gold/type_t-cid-map-with.scilla.gold
  tests/typecheck/bad/gold/foo-expr.scilexp.gold
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Typo and fix test bug
  src/lang/base/ParserFaults.messages
  tests/parser/bad/exps/exp_t-builtin-id-with.scilexp
  tests/parser/bad/gold/exp_t-builtin-id-with.scilexp.gold
  tests/parser/bad/gold/exp_t-spid-cid-with.scilexp.gold
  tests/typecheck/bad/gold/foo-expr.scilexp.gold
Owners: @jjcnn, @vaivaswatha, @anton-trunov

First attempt at gas-aware typechecking
  src/lang/base/Gas.ml
  src/lang/base/TypeChecker.ml
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Add a reference for pattern-match checking
  src/lang/checkers/PatternChecker.ml
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Fix typo
  src/lang/checkers/PatternChecker.ml
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Add a reference for pattern-match checking (#640)
  src/lang/checkers/PatternChecker.ml
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Add UD contracts to scilla-checker tests
  tests/checker/good/TestCheckerSuccess.ml
  tests/checker/good/gold/ud-proxy.scilla.gold
  tests/checker/good/gold/ud-registry.scilla.gold
  tests/contracts/ud-proxy.scilla
  tests/contracts/ud-registry.scilla
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Provide Makefile and testsuite options for testing against external IPC server
  Makefile
  tests/Testsuite.ml
  tests/ipc/StateIPCTest.ml
  tests/ipc/StateIPCTest.mli
  tests/ipc/StateIPCTestClient.ml
  tests/runner/Testcontracts.ml
  tests/util/TestUtil.ml
Owners: @vaivaswatha, @anton-trunov, @jjcnn

Make contract_tests the first in the testsuite for fixed test_id
  Makefile
  tests/Testsuite.ml
Owners: @vaivaswatha, @anton-trunov, @jjcnn

Add a test that blows up a list exponentially and runs out of gas
  tests/eval/exp/bad/TestExpsFail.ml
  tests/eval/exp/bad/blowup.scilexp
  tests/eval/exp/bad/gold/blowup.scilexp.gold
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Add UD contracts to scilla-checker tests (#641)
  tests/checker/good/TestCheckerSuccess.ml
  tests/checker/good/gold/ud-proxy.scilla.gold
  tests/checker/good/gold/ud-registry.scilla.gold
  tests/contracts/ud-proxy.scilla
  tests/contracts/ud-registry.scilla
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Add a test that blows up a list exponentially and runs out of gas (#642)
  tests/eval/exp/bad/TestExpsFail.ml
  tests/eval/exp/bad/blowup.scilexp
  tests/eval/exp/bad/gold/blowup.scilexp.gold
Owners: @vaivaswatha, @jjcnn, @anton-trunov

In map_corners_test.scilla, ensure deleted sub-map is empty.
  src/lang/eval/StateService.ml
  tests/checker/good/gold/map_corners_test.scilla.gold
  tests/contracts/map_corners_test.scilla
  tests/ipc/StateIPCTest.ml
  tests/ipc/StateIPCTestServer.ml
  tests/runner/map_corners_test/output_7.json
Owners: @vaivaswatha, @jjcnn, @anton-trunov

One more sub map deletion check.
  tests/checker/good/gold/map_corners_test.scilla.gold
  tests/contracts/map_corners_test.scilla
  tests/runner/map_corners_test/output_7.json
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Handle exceptions encoding/decoding protobuf
  src/lang/eval/StateIPCClient.ml
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Minor variation to map_corners_test.scilla:t7
  tests/checker/good/gold/map_corners_test.scilla.gold
  tests/contracts/map_corners_test.scilla
Owners: @jjcnn, @vaivaswatha, @anton-trunov

improve comment in t7
  tests/contracts/map_corners_test.scilla
Owners: @jjcnn, @vaivaswatha, @anton-trunov

Reword comments around StateService fetch and update
  src/lang/eval/StateIPCClient.ml
  src/lang/eval/StateIPCClient.mli
  src/lang/eval/StateService.ml
  src/lang/eval/StateService.mli
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Introduce error message constant for out of gas
  src/lang/base/MonadUtil.ml
Owners: @vaivaswatha, @jjcnn, @anton-trunov

Typechecker now passes remaining gas around
  src/lang/base/Gas.ml
  src/lang/base/TypeChecker.ml
  src/lang/base/TypeUtil.ml
  src/lang/base/TypeUtil.mli
Owners: @vaivaswatha, @jjcnn, @anton-trunov

.github/CODEOWNERS:

########## Global owners ##########

*                  @jjcnn @vaivaswatha @anton-trunov


########## Source code ##########

## default OCaml reviewers
*.ml                @vaivaswatha @jjcnn @anton-trunov
*.mli               @vaivaswatha @jjcnn @anton-trunov

## default C and C++ reviewers
*.cpp              @vaivaswatha @AmritKumar
*.c                @vaivaswatha @AmritKumar
*.h                @vaivaswatha @AmritKumar


########## Build system, CI, opam ##########

*dune*             @vaivaswatha @anton-trunov
/.dockerignore     @vaivaswatha
/.travis.yml       @vaivaswatha
/Dockerfile*       @vaivaswatha
/Makefile          @vaivaswatha @anton-trunov
/scripts/build_openssl.sh @vaivaswatha
*.opam             @anton-trunov


########## Test suite ##########

## Scilla contracts in the testsuite
/tests/*.scilla    @edisonljh @evesnow91 @AmritKumar @vaivaswatha @jjcnn


########## Documentation ##########

/README.md        @AmritKumar @jjcnn @vaivaswatha
/INSTALL.md       @vaivaswatha @anton-trunov
/docs/            @jjcnn


########## Tools ##########

#/misc/emacs-mode  @vaivaswatha
#/misc/vim-plugin  @edisonljh


########## GitHub metadata, including this file ##########

/.github/         @AmritKumar @vaivaswatha @anton-trunov
